@using Microsoft.Web
 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My STV Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" id="marketplaceDropdown"
                           asp-controller="Marketplace" asp-action="Explore">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="marketplaceDropdown">
                            @if (HttpContext.Current.Session["Username"] == null)
                            {
                                <a class="dropdown-item"> @Html.ActionLink("TV Shows", "TVShows", "Home")</a> <br>

                            }else
                            {
                            <a class="dropdown-item"> @Html.ActionLink("TV Shows", "Shows", "Shows")</a> <br>

                            }


                            <a class="dropdown-item"> @Html.ActionLink("Streaming Services", "StreamingService", "Home")</a><br>
                            <a class="dropdown-item"> @Html.ActionLink("Packages", "Packages", "Home")</a> <br>
                            <a class="dropdown-item"> @Html.ActionLink("Submit a Report", "CreateReport", "Report")</a>



                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (HttpContext.Current.Session["Username"] == null)
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Home")</li>
                        <li>@Html.ActionLink("Sign Up", "Register", "Register")</li>

                    }
                    else
                    {
                        if (Convert.ToChar(HttpContext.Current.Session["Permission"]) == 'a')
                        {
                            <li>@Html.ActionLink(@HttpContext.Current.Session["Username"].ToString(), "AdminHome", "Admin")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(@HttpContext.Current.Session["Username"].ToString(), "UserProfile", "Home")</li>
                        }


                        <li>@Html.ActionLink("Log Out", "Logout", "Home")</li>
                        }
                    </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My STV Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
